{% extends "templates/partials/base.j2" %}
{% block title %}Search{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}
{% block scriptHeader %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock scriptHeader %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="col-lg-6 col-md-8 mx-auto">
           <h1 >Search</h1>
           <div id="searchbox"></div>
           <div id="stats-container"></div>
           <div id="current-refinements"></div>
           <div id="clear-refinements"></div>
       </div>
   </div>

   <div class="row">
       <div class="col-md-3">
           <div>
               <div id="refinement-list-author" class="pb-3"></div>
               <div id="refinement-list-work" class="pb-3"></div>
               <div id="refinement-list-workdate" class="pb-3"></div>
               <div id="refinement-list-manuscript" class="pb-3"></div>
               <div id="refinement-list-language" class="pb-3"></div>
           </div>
       </div>
       <div class="col-md-9">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Visualisations
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div id="vis-container">
                      <h2 class="text-center p-2">Visualisations</h2>
                      <div id="author-vis" class="hc-vis-containers"></div>
                      <div id="work-vis" class="hc-vis-containers"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Results
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div id="restuls-container">
                      <h2 class="text-center p-2">Results</h2>
                      <div id="pagination" class="p-3"></div>
                      <div id="hits"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       </div>
   </div>
   
</div>


{% endblock content %}
{% block scripts2 %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css" />
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.46.0"></script>
<script src="https://cdn.jsdelivr.net/npm/typesense-instantsearch-adapter@2/dist/typesense-instantsearch-adapter.min.js"></script>
<script src="js/search.js"></script>
<script src="js/search-vis.js"></script>
{% endblock scripts2 %}